html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color:RoyalBlue ;
}

/* Flash messages shown at the top of the page */
.message {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:5px;
    text-align:center;
    font-size:18px;
    background-color:LimeGreen;
}

nav ul li a:hover {
    color:#18bc9c; /* flatly teel */
}

a.active:link, a.active:visited, a.active:active, a.active:hover {
    color:#18bc9c;
}

